<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h3>会員一覧</h3>
        <table class="table table-hover table-inverse">
          <tbody>
            <thead>
              <tr>
                <th>会員id</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
              <tr>
                <% @customer.each do |customer| %>
                  <td><%= customer.id %></td>
                  <td><%= link_to customer.last_name.first_name,"admin_customers/#{customer.id}" %></td>
                  <td><%= customer.email %></td>
                <% end %>
              </tr>
            </thead>
          </tbody>
        </table>
    </div>
  </div>
</div>