<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
        <h4>ジャンル編集</h4>
          <h5>ジャンル名</h5>
            <%= form_with model: @genre do |f| %>
            <%= f.text_field :name %>
    </div>
  </div>
</div>