<div class="container">
  <div class="row my-3 h5">
    <h4 class="title">注文履歴一覧</h4>
  </div>
    <div class="col-md-9 text-center">
        <table class="table table-hover">
          <tbody>
            <thead>
              <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
              </tr>
                <% @orders.each do |order| %>
              <tr>
                <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'),admin_order_path(order.id) %></td>
                <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
                <td><%= order.order_derails.sum(:amount) %></td>
                <% end %>
              </tr>
            </thead>
          </tbody>
        </table>
    </div>
</div>