<div class="container">
  <div class="row my-3 h3">
    <div class="col-lg-12 justify-content-center d-flex align-items-center" style="height:300px;">
      <h4>注文ありがとうございました！</h4>
    </div>
  </div>
</div>