<div class="container">
  <div class="row my-3 h5">
    <h4 class="title">注文履歴詳細</h4>
      <h5>注文情報</h5>
        <table class="table table-hover table-inverse">
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>支払方法</th>
            <th>ステータス</th>
          </tr>
          
        

         </table>
      <h5>請求情報</h5>
      <h5>注文内容</h5>
  </div>
</div>