/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  margin: 20px;
  background-color: #e8e8e8;
  font-size: x-large;
}

.sub-title {
  margin: 20px;
  background-color: #e8e8e8;
  font-size: large;
}

.form-group {
  margin: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.items {
  margin: 30px;
}

.items-index {
  text-align: right;
}

.field {
  margin: 20px;
}

.actions {
  margin: 10px;
  text-align:center;
}

.mypage {
  margin: 20px;
}

.mypage-edit {
  width: 800px;
}

.total {
  margin: 30px;
}

.text-box {
  font-size: 25px;
}